body {
    text-align: center;
    background: rgb(0, 0, 0);
    background-image: url("https://64.media.tumblr.com/6b9161dc3b855f506b87568a75e59b4e/5d2c0041006549e0-9c/s1280x1920/cfd717f6612e6c6947b93da7303d998f1be5d7a6.jpg");
}

header {
    color: rgb(25, 22, 207);
    background: rgba(11, 9, 83, 0.527);
}

h1 {
    color: rgb(38, 20, 85);
    background: #f0f78ebe;
    font-size: 40px;
}

h2 {
    color: rgb(32, 95, 35);
    background: #dfe9b5e7;
    font-size: 30px;
}

div {
    background: #78df5e;
    width: 450px;
    margin: 5% auto;
}

section {
    position: center;
    color: #ffffff;
    background: rgba(77, 54, 10, 0.445);
}

ul p {
    text-align: center;
    font-size: 30px;
    color: #1d0d57;
}

li {
    /*background: #0b0b35;*/
    width: 250px;
    /*height: 300px;*/
    text-align: left;
    /*padding-left: 500px;*/
    /*padding-right: 300px;*/
    margin: 1% auto;
    font-size: 20px;
    color: #04020c;
}

.twitter-timeline {
    text-align: center;
    position: center;
}

footer {
    color: rgb(117, 85, 85);
    background: #fefeff;
}

svg {
    text-align: center;
    width: 250;
}
